#portfolio {
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.project-header {
    height: 100vh;
    width: calc(100vw - 33vw);
    pad: 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}