#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg-photo {
    position: absolute;
    height: 100vh;
    width: 25vw;
    top: -4rem;
    object-fit: cover;
    right: 0;
    z-index: -1;
}

.intro-content {
    height: 100vh;
    width: calc(100vw - 33vw);
    padding: 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting {
    font-size: 2rem;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
}